@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Blog Page</title>
    <link rel="stylesheet" href="~/vendors/animate.css/animate.min.css">
    <link rel="stylesheet" href="~/css/style.css">
    <script src="~/vendors/jquery/jquery.min.js"></script>
    <script src="~/js/loader.js"></script>
</head>
<nav>
    <div class="container">
        <div class="hiro-nav">

            <a asp-controller="Home" asp-action="Index" class="nav-brand">
                <img src="/images/logo.svg" alt="Hiro" class="logo">
                <img src="/images/logo_white.svg" alt="Hiro" class="logo-white">
            </a>
            <ul class="navbar-nav">
                <li class="nav-item">
                   <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
                </li>
            </ul>
            <button class="hiro-nav-popup-toggle">
                <svg width="20px" height="18px" viewBox="0 0 20 18" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <g id="Hiro" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g id="hiro-agency" transform="translate(-964.000000, -37.000000)" fill="#FFFFFF">
                            <g id="Menu" transform="translate(964.000000, 37.000000)">
                                <g id="menu">
                                    <rect id="Rectangle" fill-rule="nonzero" x="-8.05281767e-14" y="7.50795322" width="19.9609942" height="2.4951462"></rect>
                                    <rect id="Rectangle" fill-rule="nonzero" x="-8.05281767e-14" y="14.9964327" width="19.9609942" height="2.4951462"></rect>
                                    <rect id="Rectangle" fill-rule="nonzero" x="-8.05281767e-14" y="0.0194736842" width="19.9609942" height="2.4951462"></rect>
                                </g>
                            </g>
                        </g>
                    </g>
                </svg>
            </button>
        </div>
    </div>
</nav>
